<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="me.xnmk.community.dao.CommentMapper">

    <select id="selectCountByEntity" resultType="int">
        select count(id)
        from comment
        where status = 0
        and entity_type = #{entityType}
        and entity_id = #{entityId}
    </select>

    <select id="selectCountByUserId" resultType="int">
        select count(id) from comment
        where status != 1
        and user_id = #{userId}
          and entity_type = 1
          and exists (
            select id from discuss_post where id = comment.entity_id and status != 2
            )
    </select>
</mapper>